<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- <h1><%= title %></h1> -->
    <!-- <form action="https://payment-stage.ecpay.com.tw/Cashier/AioCheckOut/V5">
      <input type="hidden" name="MerchantID" value="3002607">
      <input type="hidden" name="CheckMacValue" value="123456qwerty">
      <input type="hidden" name="ReturnURL" value="http://localhost:3000/">
      <button type="submit">送出</button>
    </form> -->
    <!-- 將 html 輸出到畫面上 -->
    <%- html %>
  </body>
</html>
